* {
    font-family: sans-serif;
}

body {
    background-color: cadetblue;
}

header, main section{
    background-color: cornflowerblue;
}

nav {
    background-color: #1e283c;
    margin: 1.5;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0px;
}

nav h1 {
    color: white;
    font-size: 18px;
    margin: 1em;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 0.8em;
}

nav a {
    color: white;
}

main section h1{
    text-align: center;
    font-size: 32px;
    background-color: #1e283c;
    color: white;
    padding: 10px;
}

.center {
    text-align: center;
    padding-bottom: 20px;
}

#content-profile {
    width: 1447px;
    margin: auto;
}

#content-profile img {
    width:420px;
    float: left;
    margin-right: 70px;
    padding-bottom: 30px;
    padding-left: 110px;
}

#content-profile p {
    width: 750px;
    float: left;
}

.fix-container {
    clear: both;
}

.justify {
    text-align: justify;
}

#content-journey p {
    padding-bottom: 10px;
}

footer{
    background-color: cornflowerblue;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.background-footer{
    text-align: center;
    font-size: 32px;
    background-color: #1e283c;
    color: white;
    padding: 10px;
}
