body {
    background-color: #63b1e6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #063093;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-top: 0;
    color: #ffffff;
}
h2 {
    margin-top: 0;
    color: #ffffff;
}
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.search-button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.search-button:hover {
    background-color: #45a049;
}
.results {
    text-align: center;
    
}
.player-details {
    margin-top: 20px;
    background-color: #072a7d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.player-details h3 {
    margin-top: 0;
    color: #555;
}
.player-details img {
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.player-details h4 {
    text-align: center;
    margin-bottom: 5px;
    color: #ffffff;
}

.player-details p {
    text-align: justify;
    margin-bottom: 5px;
    color: #ffffff;
}
.player-details p:last-child {
    margin-bottom: 0;
}
.error-message {
    color: red;
}

@media screen and (max-width: 600px) {
    .search-input {
    width: 100%;
    }
    .search-button {
    width: 100%;
    }
}

.bingkai {
    background-color: #ffffff;
    padding-top: 13px;
    padding-bottom: 10px;
    margin-left: 170px;
    margin-right: 170px;
}

footer{
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 30px;
}